{{#each errors}}
    <div class="alert alert-danger">{{text}}</div>
    {{else}}
{{/each}}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script href="/public/js/geocode.js"></script> 
</head>
<body>
  <div class="container">
    <h2 id="text-center">Enter Location: </h2>
    <form id="location-form">
      <input type="text" id="location-input" class="form-control form-control-lg">
      <br>
      <button type="submit" class="btn btn-primary btn-block">Submit</button>
    </form>
    <div class="card-block" id="formatted-address"></div>
    <div class="card-block" id="address-components"></div>
    <div class="card-block" id="geometry"></div>
  </div>